div.inside_header {
    font-family: "nta", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center
}



.grid-container .grid_box {
    padding: 5px;
    margin: 5px;

}


main {
    margin-left: 10%;
    margin-right: 10%;
}

input[type="search"] {
    height: 30px;
    font-size: 150%;
    width: 500px;
  }

  .card {
    background-color: #f8f8f8;
    border: 1px solid #dee0e2;
    padding: 12px;
  }


 /* Grid */
.grid-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "search_inputs search_inputs" "summary_table row_details" "summary_table row_details";
  }

  .search_inputs { grid-area: search_inputs; }

  .summary_table { grid-area: summary_table; }

  .row_details { grid-area: row_details; }