div.inside_header {
    font-family: "nta", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

input[type="search"] {
    height: 30px;
    font-size: 150%;
    width: 500px;
  }


.card {
    background-color: #f8f8f8;
    border: 1px solid #dee0e2;

    margin: 8px;

  }

.card-header {
    background: #ccc;
    padding: 8px;
}

.card-contents {
    padding: 8px;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "search_inputs search_inputs" "summary_table row_details" "summary_table row_details";
  }

  .search_inputs { grid-area: search_inputs; }

  .summary_table { grid-area: summary_table; }

  .row_details { grid-area: row_details; }

  /* Flex */

  .flex-container {
    min-height: 400px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: top;
    align-items: stretch;
    align-content: center;
  }


  .flex-item {
    flex: 0 0 auto;
  }