table {
    border-collapse: collapse;
  }
   th {
    background: #eee;
  }

  th, td {
    /* border-right: 1px solid #ccc; */
    /* border-left: 1px solid #ccc; */
    padding: 8px;
  }

  tr:nth-child(even) {
    background: #FFF;
  }

  tr:hover {
    background: #d1d1d1;
  }