table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}


th.search_results {
  background: #eee;
}

tr:nth-child(even).search_results{
  background: #FFF;
}

tr:hover.search_results {
  background: #d1d1d1;
}