{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Metadata Search Tool</h1>

    <form id="searchform" >
        {{ form.hidden_tag() }}
        <p>
            {{ form.searchterms.label }}<br>
            {{ form.searchterms(size=32) }}
        </p>

        <p><button type="button" id = "submit", value="Search">Search</button></p>

    </form>

    <div id="outputs">
        <div id="summary_table"></div>
        <div id="database_info"></div>
        <div id="table_info"></div>
        <div id="field_info"></div>
        <div id="sample_sql"></div>
    </div>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; //http://flask.pocoo.org/docs/1.0/patterns/jquery/#where-is-my-site
    URL_FOR_SEARCH = "{{ url_for('search') }}"

</script>
<script src= "{{url_for('static', filename='js/main.js')}}"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>


{% endblock %}